In [1]:
import pandas as pd
import ast

In [34]:
df = pd.read_csv('main.csv')
df

,match_id,radiant_win,radiant_team,dire_team,avg_rank_tier
0,8546249912,False,"[74, 129, 84, 63, 48]","[90, 109, 119, 33, 62]",72
1,8546245917,True,"[101, 1, 119, 52, 96]","[129, 85, 7, 8, 100]",73
2,8546244800,False,"[70, 135, 123, 45, 137]","[102, 120, 5, 53, 84]",74
3,8546242707,False,"[33, 12, 30, 74, 2]","[65, 11, 100, 5, 36]",75
4,8546241701,True,"[16, 46, 63, 21, 52]","[2, 53, 34, 86, 41]",75
...,...,...,...,...,...
139070,8540008905,False,"[101, 34, 70, 23, 74]","[7, 27, 136, 79, 67]",65
139071,8540004805,True,"[12, 27, 34, 53, 2]","[75, 10, 52, 20, 129]",63
139072,8540003009,False,"[34, 3, 75, 7, 8]","[93, 17, 65, 128, 59]",75
139073,8539993900,True,"[40, 106, 105, 53, 64]","[39, 135, 35, 86, 7]",75
139074,8539972810,False,"[98, 76, 30, 27, 67]","[8, 40, 84, 101, 25]",62

In [35]:
df.isna().sum()

match_id         0
radiant_win      0
radiant_team     0
dire_team        0
avg_rank_tier    0
dtype: int64

In [36]:
df.duplicated().sum()

np.int64(0)

In [39]:
df['radiant_team'] = df['radiant_team'].apply(ast.literal_eval)
df['dire_team'] = df['dire_team'].apply(ast.literal_eval)

In [ ]:
df.to_parquet('main.parquet', engine='pyarrow')